[submodule "HackSH2015/src/JSON-java"]
	path = HackSH2015/src/org/json
	url = https://github.com/douglascrockford/JSON-java.git
[submodule "/HackSH2015/src/org/json"]
	path = /HackSH2015/src/org/json
	url = https://github.com/douglascrockford/JSON-java.git
